html,body{
    overflow-x: hidden;
}



h2{
    text-align: center;
    font-size: 35px;
   color: #f79327;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
 }
 h3{
     text-align: center;
     font-size: 25px;
    color: #ffc434;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
 }
 
 
 
 td{
     border: 2px solid #ffaa47;
     height: 150px;
     width: 150px;
     text-align: center;
 display: inline-flex;
     justify-content: center;
     align-items: center;
     vertical-align: middle;font-size: 70px;
     font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
     cursor: pointer;
 }
 img{
     border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
   border-radius: 100%;
   object-fit: cover;
 
 }
 
 table{
     border-collapse: collapse;
     /* position: absolute;
     transform: translate(-50%,-50%);
     left: 50%;
     top: 45%; */
 
 
 }
 
 .replyButton{
     position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
     border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
     border-image-slice: 1; 
     padding: 15px 25px;
     font-size: 20px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
 }
 
 .mainBox{
     display: flex;
     width: 90%;
     margin: auto;
     justify-content: space-between;
 }
 
 
 
 .gridBox{
     width: 50%;
     position: relative;
     /* parent */
     padding-bottom: 100px;
 }  
 .gridBox table{
 
     margin: auto;
 
 }
 
 .fa-arrow-right{
     font-size: 80px;
     color: pink;
    margin-right: 30px;
 }
 
 
 
 .targetArrow{
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .player{
     width: 50%;
     position: relative;
     
     }
 .startButton{
     padding: 15px 35px;
     font-size: 20px;
     position: absolute;
     bottom: 0;
  left: 50%;
 transform: translateX(-50%);
 /* background: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%); */
 border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
 border-image-slice: 1; 
 
 }
 .controlHeaderPlayerOne-Outside{
    display: none;
 }

     /*ipad*/
@media screen and (max-width: 992px) {

    .mainBox{
        display: flex;
        flex-direction: column;
        width: 95%;
        margin-top: 50px;

    }
    .player{
        width: 100%;
       
        }
  .playerOne{
text-align: center;
  }

.playerTwo{
text-align: center;
height: 280px;
}

    .gridBox{
        width: 100%;
        position: relative;
        /* parent */
        padding-bottom: 100px;
    }
    input[type=radio]{
        width: 25px;
        height: 25px;
    }

    


  
  
  }
  
  /*ipad-mini*/
  @media screen and (max-width: 768px) {
  }
  
  /*phone*/
  @media screen and (max-width: 600px) {
    .playerOne img{
width: 50px;
height: 50px;

  }
  .playerTwo img{
    width: 50px;
    height: 50px;
    
      }


  .playerOne {
   display: flex;
  flex-wrap: wrap;
    
      }

      .playerTwo {
        display: flex;
       flex-wrap: wrap;
       height: 150px;
     
         
           }
  input[type=radio]{
    width: 15px;
    height: 15px;
}
.fa-arrow-right{
    font-size: 50px;
   margin-right: 10px;
}
.controlHeaderPlayerOne-Outside{
    display: block;
 }
 .controlHeaderPlayerOne{
    display: none;
 }

 td{
    border: 2px solid #ffaa47;
    height: 80px;
    width: 80px;
    
}
.gridBox span{
display: block;
}
.cell img{
    width: 70px;
    height: 70px;
}


  }